/** Fondo de pantalla */
body {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

span{
    font-weight: bold;
}

/** Fondo de la barra de navegación */
nav{
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

#contenedor_principal{
    margin-top: 50px;
}

/** Estilo de los "botones" de la barra de navegación 
.nav-link {
    display: inline-block;
    border-radius: 10px;
    background-color: #5b8f8f;
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 2px;
    text-decoration: none;
    text-align:center !important;
}*/

/** Cambio de color de los botones al pasar el puntero (Ver si esto es necesario) 
.nav-link:hover{
    background: #65eeee;
}*/



button{
    position: fixed;
    right: 15px;
}*/

.card{
    margin: 5px;
}

.card-title{
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.btn{
    margin: 1px;
}

